p,
div {
  font-family: "Times New Roman", Courier, monospace;
}

.wrapper {
  height: 725px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #4a90e2;
}

.form-wrapper {
  width: 90%;
  border: 2px solid forestgreen;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fefefe;
  height: 480px;
  margin: 50px 100px;
}
label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid #7eb0ea;
}
/* input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #bbb;
} */

.form-wrapper textarea {
  display: block;
  margin: 10px 0;
  width: 380px;
  height: 150px;
  border: 1px solid #4a90e2;
}

.submit-btn {
  margin-top: 28px;
  text-align: center;
  margin-left: -350px;
}
button {
  width: 130px;
  margin-right: 0.25em;
  padding: 0.938em;
  border: none;
  border-radius: 10px;
  background-color: #835ed8;
  color: #fefefe;
}
.fullName,
.email {
  margin-top: 10px;
}

.error {
  color: #db2269;
  font-size: 0.8em;
  display: relative;
}
.message {
  margin-top: 10px;
}
